
# Backend directory

# package directories
./backend/node_modules
./backend/jspm_packages

# Serverless directories
./backend/.serverless


# Frontend directory

./frontend/.DS_Store
./frontend/node_modules/
./frontend/dist/
./frontend/src/globals/resources.js
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*

# Editor directories and files
./frontend/.idea
./frontend/.vscode
./frontend/*.suo
./frontend/*.ntvs*
./frontend/*.njsproj
./frontend/*.sln
